# Importing Libraries

In [1]:
import os
import pandas as pd
import numpy as np

# Importing Data

In [2]:
path = r'/Users/docopeland/04 Instacart Basket Analysis'
combined = pd.read_pickle(os.path.join(path,'02 Data','prepared data','orders_products_combined.pkl'))
products = pd.read_csv(os.path.join(path,'02 Data', 'prepared data','products_clean.csv'))

# Checking the Data

In [3]:
#checking out what the combo data looks like
combined.head()

,order_id,user_id,total_customer_orders,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [4]:
combined.shape

(32434489, 10)

In [6]:
#checking out what the products data looks like, hate the first column
products.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [7]:
#dropping the first column
products = products.drop(columns = ['Unnamed: 0'])

In [8]:
#rechecking the products data
products.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
products.shape

(49672, 5)

# Merging the Products and the Combined

In [12]:
#merging data on inner join
merged = combined.merge(products, on = 'product_id', how = 'inner')

# Checking the Data

In [13]:
#checking shape of combined
combined.shape

(32434489, 10)

In [14]:
#checking shape of merged
merged.shape

(32404859, 14)

In [18]:
#checking to see how many rows were lost
print(combined.shape[0] - merged.shape[0])

29630

# Exporting Data

In [19]:
#exporting the merged data as a pickle file
merged.to_pickle(os.path.join(path,'02 Data','prepared data','orders_products_merged.pkl'))