# Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

# Importing Data

In [3]:
path = r'/Users/docopeland/04 Instacart Basket Analysis'
opp = pd.read_csv(os.path.join(path, '02 Data', 'original data', 'order_products_prior.csv'))

# Data Observation

In [4]:
opp.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
opp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB

In [7]:
opp.describe()

           order_id    product_id  add_to_cart_order     reordered
count  3.243449e+07  3.243449e+07       3.243449e+07  3.243449e+07
mean   1.710749e+06  2.557634e+04       8.351076e+00  5.896975e-01
std    9.873007e+05  1.409669e+04       7.126671e+00  4.918886e-01
min    2.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.559430e+05  1.353000e+04       3.000000e+00  0.000000e+00
50%    1.711048e+06  2.525600e+04       6.000000e+00  1.000000e+00
75%    2.565514e+06  3.793500e+04       1.100000e+01  1.000000e+00
max    3.421083e+06  4.968800e+04       1.450000e+02  1.000000e+00

# Data Wrangling

In [8]:
#changing datatype order_id and product_id
opp['order_id'] = opp['order_id'].astype('str')
opp['product_id'] = opp['product_id'].astype('str')

In [10]:
#not renaming or dropping any columns

# Consistency Checks

In [11]:
# checking for mixed data types
for col in opp.columns.tolist():
  weird = (opp[[col]].applymap(type) != opp[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (opp[weird]) > 0:
    print (col)

In [12]:
#checking for missing values, there are none
opp.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [14]:
#checking for duplicate values, there are none
opp.duplicated().sum()

0

# Checking Data Again

In [15]:
opp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           object
 1   product_id         object
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(2), object(2)
memory usage: 989.8+ MB

In [16]:
opp.describe()

       add_to_cart_order     reordered
count       3.243449e+07  3.243449e+07
mean        8.351076e+00  5.896975e-01
std         7.126671e+00  4.918886e-01
min         1.000000e+00  0.000000e+00
25%         3.000000e+00  0.000000e+00
50%         6.000000e+00  1.000000e+00
75%         1.100000e+01  1.000000e+00
max         1.450000e+02  1.000000e+00

# Exporting Data

In [17]:
opp.to_csv(os.path.join(path,'02 Data', 'prepared data', 'opp_clean.csv'))