# Importing Libraries

In [1]:
import os
import pandas as pd
import numpy

# Importing Data

In [2]:
path = r'/Users/docopeland/04 Instacart Basket Analysis'
merged = pd.read_pickle(os.path.join(path,'02 Data','prepared data','orders_products_merged.pkl'))

# Checking out data

In [3]:
merged.head()

,order_id,user_id,total_customer_orders,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0
1,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0
2,473747,1,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0
3,2254736,1,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0
4,431534,1,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0

In [4]:
merged.shape

(32404859, 14)

# Deriving New Variables

## Creating a price_range column

In [5]:
#the logic for the price_range column is as follows:
#if price is less than or equal to $5, Low-range product
#if price is greater $5 and less than or equal to $15, Mid-range product
#if price is greather than $15, High-range product

In [7]:
#low-range product
merged.loc[merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [8]:
#mid-range product
merged.loc[(merged['prices'] > 5) & (merged['prices'] <= 15), 'price_range_loc'] = 'Mid-range product'

In [9]:
#high-range product
merged.loc[merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [11]:
#checking column
merged['price_range_loc'].value_counts()

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range_loc, dtype: int64

## Creating a busiest day column

In [ ]:
#the logic of the busiest_day column is as follows:
#the busiest day is set to 'Busiest day'
#the least busiest day is set to 'Least busy'
#all other days are set to 'Regularly busy'

In [17]:
#checking the days, 0 is the busiest, 4 is the least busy
merged['order_day_of_week'].value_counts()

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: order_day_of_week, dtype: int64

In [13]:
#for loop to create a list with the busiest day logic
busy = []
for day in merged['order_day_of_week']:
    if day == 0:
        busy.append('Busiest day')
    elif day == 4:
        busy.append('Least busy')
    else:
        busy.append('Regularly busy')

In [14]:
#adding the result to the df
merged['busiest_day'] = busy

In [16]:
#checking the data
merged['busiest_day'].value_counts()

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

## Creating busiest days column

In [20]:
#the logic of the busiest_2_days column is as follows:
#the 2 busiest day is set to 'Busiest days'
#the 2 least busiest day is set to 'Least busy'
#all other (3) days are set to 'Regularly busy'

In [21]:
#busiest days are 0 and 1, least busy are 3 and 4
busy2 = []
for day in merged['order_day_of_week']:
    if day == 0 or day == 1:
        busy2.append('Busiest 2 days')
    elif day == 3 or day == 4:
        busy2.append('2 Least busy')
    else:
        busy2.append('Regularly busy')

In [22]:
#adding the result to the df
merged['busiest_2_days'] = busy2

In [25]:
#checking the values
merged['busiest_2_days'].value_counts()

Regularly busy    12916111
Busiest 2 days    11864412
2 Least busy       7624336
Name: busiest_2_days, dtype: int64

## Creating busiest period of day

In [ ]:
#the logic of the busiest_period_of_day column is as follows:
#the 6 busiest hours is set to 'Most orders'
#the 6 least busiest hours is set to 'Least orders'
#all other (12) hours are set to 'Average orders'

In [27]:
#checking the hours
merged['order_hour_of_day'].value_counts()

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

In [33]:
#for loop to create time list, 0-5 are the least busy, 10-15 are the busiest
time = []
for hour in merged['order_hour_of_day']:
    if hour in range(10,15):
        time.append('Most orders')
    elif hour in range (0,5):
        time.append('Least orders')
    else:
        time.append('Average orders')

In [34]:
#adding column to df
merged['busiest_period_of_day'] = time

In [35]:
#checking the values
merged['busiest_period_of_day'].value_counts()

Average orders    18429970
Most orders       13466522
Least orders        508367
Name: busiest_period_of_day, dtype: int64

# Exporting Data

In [36]:
#exporting as a pickle file
merged.to_pickle(os.path.join(path,'02 Data','prepared data','merged_derived_vars.pkl'))