# Import Libraries

In [1]:
import os
import pandas as pd
import numpy as np

# Import Data

In [2]:
path = r'/Users/docopeland/04 Instacart Basket Analysis'
departments = pd.read_csv(os.path.join(path,'02 Data','original data','departments.csv'))

# Data Observation

In [4]:
departments.head()

,department_id,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,department,frozen,other,bakery,produce,alcohol,international,beverages,pets,dry goods pasta,...,meat seafood,pantry,breakfast,canned goods,dairy eggs,household,babies,snacks,deli,missing

# Data Wrangling

In [6]:
#transpose df
departments = departments.T

In [8]:
#save the names of the first row
header = departments.iloc[0]

In [32]:
header

0    department
Name: department_id, dtype: object

In [9]:
#reset the index of the df
departments.reset_index()

            index                0
0   department_id       department
1               1           frozen
2               2            other
3               3           bakery
4               4          produce
5               5          alcohol
6               6    international
7               7        beverages
8               8             pets
9               9  dry goods pasta
10             10             bulk
11             11    personal care
12             12     meat seafood
13             13           pantry
14             14        breakfast
15             15     canned goods
16             16       dairy eggs
17             17        household
18             18           babies
19             19           snacks
20             20             deli
21             21          missing

In [13]:
#drop the first row
departments = departments[1:]

In [15]:
#change the columns to the previous header
departments.columns = header

In [19]:
departments.head()

department_id department
1                 frozen
2                  other
3                 bakery
4                produce
5                alcohol

# Consistency Checks

In [20]:
#check for missing values, no missing values
departments.isnull().sum()

department_id
department    0
dtype: int64

In [22]:
#check for duplicated rows, there are none
departments.duplicated().sum()

0

In [25]:
#all departments should be objects
departments.dtypes

department_id
department    object
dtype: object

In [26]:
#check for mixing data types
for col in departments.columns.tolist():
  weird = (departments[[col]].applymap(type) != departments[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (departments[weird]) > 0:
    print (col)

In [28]:
departments.head()

department_id department
1                 frozen
2                  other
3                 bakery
4                produce
5                alcohol

# Export data

In [27]:
#exporting file as a csv
departments.to_csv(os.path.join(path,'02 Data','prepared data','departments_clean.csv'))