In [11]:
#import libraries
import pandas as pd
import numpy as np
import os

In [12]:
#upload files
path = r'/Users/docopeland/Documents/data analysis/career foundry/04 Instacart Basket Analysis'
ords_prods_merged = pd.read_pickle(os.path.join(path,'02 Data','prepared data','orders_products_merged.pkl'))

In [13]:
#create a new df with a subset of the data
df = ords_prods_merged[:1000000]
df.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,NaN,True,196,1,0,both,Soda,77,7,9.0
1,2398795,1,2,3,7,15.0,False,196,1,1,both,Soda,77,7,9.0
2,473747,1,3,3,12,21.0,False,196,1,1,both,Soda,77,7,9.0
3,2254736,1,4,4,7,29.0,False,196,1,1,both,Soda,77,7,9.0
4,431534,1,5,4,15,28.0,False,196,1,1,both,Soda,77,7,9.0

In [14]:
#creating a price label function
def price_label(row):
    if row['prices'] <= 5:
        return 'Low-range product'
    elif (row['prices'] > 5) and (row['prices'] <= 15):
        return 'Mid-range product'
    elif row['prices'] > 15:
        return 'High-range product'
    else:
        return 'Not enough data'

In [15]:
# add a new price range column
df['price_range'] = df.apply(price_label, axis = 1)
df.head()

/var/folders/zw/88f_mbgs7zz4slnzcgksqp2c0000gn/T/ipykernel_1763/2456895592.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis = 1)

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range
0,2539329,1,1,2,8,NaN,True,196,1,0,both,Soda,77,7,9.0,Mid-range product
1,2398795,1,2,3,7,15.0,False,196,1,1,both,Soda,77,7,9.0,Mid-range product
2,473747,1,3,3,12,21.0,False,196,1,1,both,Soda,77,7,9.0,Mid-range product
3,2254736,1,4,4,7,29.0,False,196,1,1,both,Soda,77,7,9.0,Mid-range product
4,431534,1,5,4,15,28.0,False,196,1,1,both,Soda,77,7,9.0,Mid-range product

In [16]:
#checking out what values there are
df['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [17]:
#find the max price of the subset
df['prices'].max()

14.8

In [18]:
#loc function for high range
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

/Users/docopeland/opt/anaconda3/lib/python3.9/site-packages/pandas/core/indexing.py:1684: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
/Users/docopeland/opt/anaconda3/lib/python3.9/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [20]:
#loc function for mid range
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

/Users/docopeland/opt/anaconda3/lib/python3.9/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [22]:
#loc function for low range
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

/Users/docopeland/opt/anaconda3/lib/python3.9/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [23]:
#counting the number of range 
df['price_range_loc'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range_loc, dtype: int64

In [24]:
#loc function low range on ords_prods_merged
ords_prods_merged.loc[ords_prods_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [25]:
#loc function mid range on ords_prods_merged
ords_prods_merged.loc[(ords_prods_merged['prices'] >5) & (ords_prods_merged['prices'] <= 15), 'price_range_loc'] = 'Mid-range product'

In [27]:
#loc function high range on ords_prods_merged
ords_prods_merged.loc[ords_prods_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [29]:
#seeing what the ords_prods_merged['price_range_loc'] looks like
ords_prods_merged['price_range_loc'].value_counts(dropna = False)

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range_loc, dtype: int64

In [31]:
ords_prods_merged['order_dow'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: order_dow, dtype: int64

In [32]:
#checking to see how busy the day is
result = []
for value in ords_prods_merged['order_dow']:
    if value == 0:
        result.append('Busiest Day')
    elif value == 4:
        result.append('Least busy')
    else:
        result.append('Regularly busy')
print(len(result))

32404859

In [33]:
#creating a new busiest day column
ords_prods_merged['busiest day'] = result
ords_prods_merged['busiest day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest Day        6204182
Least busy         3783802
Name: busiest day, dtype: int64

In [34]:
#checking for the 2 busiest and 2 slowest days
busy = []
for value in ords_prods_merged['order_dow']:
    if value == 0 or value == 1:
        busy.append('Busiest 2 days')
    elif value == 3 or value == 4:
        busy.append('Least busy 2')
    else: 
        busy.append('Regulary busy')
print(len(busy))

32404859

In [35]:
#adding the results from the busy to the df, adds up correctly
ords_prods_merged['Busiest 2 Days'] = busy
ords_prods_merged['Busiest 2 Days'].value_counts(dropna = False)

Regulary busy     12916111
Busiest 2 days    11864412
Least busy 2       7624336
Name: Busiest 2 Days, dtype: int64

In [36]:
#find out more info about the order_hour_of_day values, 9-16 are most, 0-6 are least
ords_prods_merged['order_hour_of_day'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

In [37]:
#creating a list for the order_hour_of_day based on most, avg, fewest orders
hours = []
for value in ords_prods_merged['order_hour_of_day']:
    if value in range(9,17):
        hours.append('Most orders')
    elif value in range(0,7):
        hours.append('Fewest orders')
    else:
        hours.append('Average orders')
print(len(hours))

32404859

In [38]:
#creating a new column busiest_period_of_day that says if it's the most, avg, or fewest orders part of day
ords_prods_merged['busiest_period_of_day'] = hours
ords_prods_merged['busiest_period_of_day'].value_counts(dropna = False)

Most orders       21118071
Average orders    10399967
Fewest orders       886821
Name: busiest_period_of_day, dtype: int64

In [39]:
#exporting my data
ords_prods_merged.to_pickle(os.path.join(path,'02 Data','prepared data','ords_prods_freq.pkl'))